body { text-align: center;
background-color: wheat;}


.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
   border-radius: 20%;
   margin: 2rem ;
}

.container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color:red
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}

.flash{
    background-color: whitesmoke;
}

.userflash{
    background-color: black;
}